*.pyc
*.egg-info
*.DS_Store
*.idea
*.empty
*modelout.txt
test_simulation_outputs/
.smoldyn-2.72-mac/
__pycache__
build/
dist/
del.py
crowding4_new.simularium
polymer_mid.simularium
/biosimulators_simularium/tests/fixtures/archives/MinE/temporal-model-out.txt
scripts/release.sh
